// ==========================================================================
// Container widths
// ==========================================================================
$editor-max-widths: (
	sm: 540px - 30px,
	md: 720px - 30px,
	lg: 960px - 30px,
	xl: 1140px - 30px,
);

// xxl: 1320px - 30px // not used

$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
);

// ==========================================================================
// Project colors
// https://www.color-blindness.com/color-name-hue/
// ==========================================================================
$white: #fcfcfc;
$black: #0d3711;
$yellow: #ffae00;

$base-color: $black;
$highlight1: $yellow;
$highlight2: $black;
$background-color: #f9f9f9;
$color-axolotl: #4d6246;

$brand-colors: (
	"white":  $white,
	"black":  $black,
	"gray": #e9e9e9,
);
$link-color: $highlight2;

// ==========================================================================
// Font settings
// ==========================================================================

// ==========================================================================
// Link settings
// ==========================================================================

// ==========================================================================
// Margins
// ==========================================================================

// ==========================================================================
// Header
// ==========================================================================
$logo-width-header: 200px !default;

// ==========================================================================
// Navigation | toggler
// ==========================================================================

// ==========================================================================
// Navigation | menu
// ==========================================================================
$nav-text: (
	"font-weight": 700,
	"font-size": 1rem,
	"transform": none,
	"color": $highlight2,
	"hover": darken($highlight2, 20%),
	"active": $color-axolotl,
	"font-size-mobile": 1.25rem,
	"color-mobile": $black,
	"color-mobile-active": $black,
	"color-mobile-hover": darken($highlight2, 20%)
);

// ==========================================================================
// Footer
// ==========================================================================
$footer-bg: #35472f;

// ==========================================================================
// Cards
// ==========================================================================

// ==========================================================================
// Buttons
// ==========================================================================

// ==========================================================================
// icons - Header
// ==========================================================================

// ==========================================================================
// icons - Footer
// ==========================================================================

// ==========================================================================
// Editor
// ==========================================================================

// ==========================================================================
// Bootstrap overwrites
// ==========================================================================
